h2 {
  margin-top: 20px;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 5px 60px;
}

.weather-app {
  border: solid #b8b4b4;
}

.city {
  margin: 10px;
}

.current-location {
  background: #eef5ff;
  color: #0d6efd;
  border-color: #0d6efd;
  padding: 5px 10px;
}

.day-time {
  color: #636262;
}

.current-temp {
  font-size: 50px;
  font-weight: 600;
  line-height: 50px;
}

.units {
  position: relative;
  top: -25px;
}

.f-unit,
.c-unit {
  color: #0d6efd;
  text-decoration: none;
}

.units .active {
  cursor: default;
  color: black;
}

.units .active :hover {
  text-decoration: none;
}
.weather-phw {
  margin: 20px 0;
}

.weather-symbol {
  font-size: 24px;
  text-align: center;
}

.day {
  font-weight: bold;
}
