h2 {
  margin-top: 20px;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 5px 60px;
}

.weather-app {
  border: 1px solid rgb(58, 45, 128, 0.5);
}

.input-city {
  margin: 10px;
}

.search-button {
  background: #6957e7;
  color: #fff;
  border: #6957e7;
}

.search-button:hover {
  background: #6957e7;
  color: #fff;
  border: #6957e7;
}

.current-location {
  background: #a763f6;
  color: #fff;
  border-color: #a763f6;
  padding: 5px 10px;
}

.current-location:hover {
  background: #a763f6;
  color: #fff;
  border-color: #a763f6;
}

.day-time {
  color: #636262;
}

.weather-icon {
  height: 90px;
  position: relative;
  top: -14px;
}

.current-temp {
  font-size: 50px;
  font-weight: 600;
  line-height: 50px;
  color: rgb(48, 48, 48, 0.9);
}

.units {
  position: relative;
  top: -25px;
}

.f-unit,
.c-unit {
  color: #a763f6;
  text-decoration: none;
}

.f-unit:hover,
.c-unit:hover {
  text-decoration: underline;
  color: #a763f6;
}

.units .active {
  cursor: default;
  color: black;
}

.units .active:hover {
  text-decoration: none;
}

.city-element {
  color: rgb(48, 48, 48, 0.9);
}
.weather-dhw {
  margin-bottom: 20px;
  margin-left: 10px;
  color: rgb(48, 48, 48, 0.8);
}

.weather-forecast {
  font-size: 24px;
  text-align: center;
}

.day {
  font-weight: bold;
  font-size: 16px;
}

.forecast-max-temperature {
  font-weight: bold;
  font-size: 16px;
}

.forecast-min-temperature {
  opacity: 0.6;
  font-size: 16px;
}

.code-link {
  color: rgb(167, 99, 246);
}
